<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="20971520" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network" from="notificaciones@tagor.cl"  >
        <network host="mail.tagor.cl" port="3535" userName="notificaciones@tagor.cl" password="notificaciones123**"/>
      </smtp>
    </mailSettings>-->
  </system.net>
  
  <connectionStrings>
    <!--<add name="db" connectionString="Data Source=sql7004.site4now.net;Initial Catalog=DB_A2C5F9_mantenimiento;User ID=DB_A2C5F9_mantenimiento_admin;Password=MJ5813seje" providerName="System.Data.SqlClient" />
  -->
    <add name="db" connectionString="Data Source=192.168.35.251;Initial Catalog=bd_crmTagorDesa;User ID=sa;Password=MJ5813seje" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
  <dataConfiguration defaultDatabase="db" />
      
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
